<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bogus" publicKeyToken="fa1bb3f3f218129a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.0.3.0" newVersion="23.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key ="X-Yandex-API-Key" value ="1212730d-6116-45c6-b4a0-4514559f0865" />
	</appSettings>
</configuration>